<% include ../partials/header %>

<h1>
    <a href="/"><img class="icon" src="/img/logo.png"></a> goodolchap
</h1>
<h5>Vancouver Based Photographer</h5>
<div class="logos">
    <a class="social" href="https://www.facebook.com/thegoodolchap" target="_blank">
        <i class="fab fa-facebook-square"></i>
    </a>
    <a class="social" href="https://www.instagram.com/goodolchap" target="_blank">
        <i class="fab fa-instagram"></i>
    </a>
    <a class="social" href="mailto:chapman7kwan@gmail.com" target="_blank">
        <i class="fas fa-envelope-square"></i>
    </a>
</div>
<p>Copyright &#169; All rights reserved</p>

<div class="block">
    <a href="/portraits">
        <img class="template" src="/img/template-4-min.jpg" alt="temp">
    </a>
    <a href="/cityscapes">
        <img class="template" src="/img/template-2-min.jpg" alt="temp">
    </a>
    <a href="/product">
        <img class="template" src="/img/template-3-min.jpg" alt="temp">
    </a>
</div>

<% include ../partials/footer %>